
<form name="formularioPagoPatente_1" action="<?php ?>" method="POST">
    <p>
        <label for="selectbox">Banco</label>
        <select id="selectbox" name="selectbox">
            <option value="">Choose an option</option>
            <option value="1">Home</option>
            <option value="2">Member</option>
            <option value="3">Portfolio</option>
            <option value="4">Blog</option>
        </select>
    </p>

    <p>
        <label for="date">Fecha de Abono</label>
        <input id="date" class="input-small flexy_datepicker_input hasDatepicker" type="text" name="fechaAbono" value="__ / __ / ____">
    </p>
    <p>
        <label for="name">Nro Formulario de Pago de Patente </label>
        <input id="nroFormularioPagoPatente" class="input-small" type="text" name="nroFormularioPagoPatente" value="">
    </p>

    <p>
        <input class="button" type="submit" value="Aceptar" name="submit">
    </p>
</form>